body{
	background-color:#87CEEB;
}
nav{
	grid-area:nav;
	padding-top:10px;
	font-size:20px;

}
.grid{
	display: grid;
	grid:
		"header header header"
		"image about nav"
		"image cert cert" ;
	/1fr
}

header{
	grid-area:header;
	font-size:32px;
	font-family:"Courier New";
	text-align: center;
}
#about{
	display:grid;
    grid-area:about;
	font-size:18px;
	margin-left:-10px;
}

#image{
	grid-area:image;
}

.navhead{
	font-family:"Courier New";
	font-size:50px;
}

#projects{
	grid-area:projects;
	font-size:24px;
}

.color-change:hover{
	color: white;
	transition: color 0.5s ease-in-out;
}

#cert{
	grid-area:cert;
	font-size:18px;
}

#cert_head{
	font-size:43px;
	font-family:"Courier New";
}
