body{
	background-color:#87CEEB;
}
nav{
	grid-area:nav;
	padding-top:10px;
	font-size:20px;

}
.grid{
	display: grid;
	grid:
		"header header" 1fr
		"image about" 2fr
		"nav img_map" 2fr;
	/1fr
}
header{
	grid-area:header;
	font-size:32px;
	font-family:"Courier New";
}
#about{
	display:grid;
    grid-area:about;
	font-size:18px;
}

#image{
	grid-area:image;
}
.navhead{
	font-family:"Courier New";
	font-size:50px;
}
#projects{
	grid-area:projects;
	font-size:24px;
}
#img_map{
	grid-area:img_map;
	margin-top:-140px;
}

.color-change:hover{
	color: white;
	transition: color 0.5s ease-in-out;
}
